<!DOCTYPE html>
<html lang="es" class="js">

<head>
  <%- include('../static/head', {tituloSeccion: title}); %>

</head>

<body class="home page-template-default page page-id-798 custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css chrome"
      cz-shortcut-listen="true" style="overflow-x: hidden">
  <div id="page-container" style="padding-top: 104px; overflow-y: hidden; background-color: #323232">

    <header id="main-header" data-height-onload="104" data-height-loaded="true" data-fixed-height-onload="104" style="top: 0px">
      <%- include('../static/header'); %>
    </header>

    <main>
      <!-- <div id="et-main-area">
        <div id="main-content" class="center">
          <img src="../../img/Almacenes-baja-temperatura.jpg" style="
          border-radius: 2%; opacity: 90%;" alt="Crosetto Ingeniería S.A." />
        </div>
      </div> -->
      <style>
        .center {
          display: block;
          margin-top: 5rem;
          margin-left: auto;
          margin-right: auto;
          width: 30%;
        }
      </style>

      <br />
      <br />

      <!-- <div id="search-container " style="margin-left: 10px;"> -->
      <form method="post" action="/" name="home">
        <div class="field columns " style="padding: 0 25% 0 15%; margin-left: auto; margin-right: auto;">
          <div class="column is-one-fifth">

            <div class="select is-medium">

              <!-- <select name="search" onchange="this.form.submit()"> -->
              <select name="search">
                <!-- <option type="submit" form="home">Articulo</option> -->
                <option value="articulo">Articulo</option>
                <option value="info_articulo">Codigo</option>
                <option value="fecha">Fecha</option>
                <option value="ubicacion">Ubicacion</option> <!-- ACA TAMBIEN VA DESPACHADO -->
                <option value="proveedor">Proveedor</option>
                <option value="destino">Destino</option>
                <option value="remito">Remito</option>
              </select>

            </div>

          </div>
          <!-- <3591> - border-color: #e6ad30; -->
          <div class="column ">
            <p class="control has-icons-left">
              <input class="input is-medium" id="valor" name="valor" type="" placeholder="" required>
            </p>
          </div>
          <div class="column is-one-fifth">
            <div class="btn_container">
              <!-- <button type="submit" name="search" form="home" class="et_pb_button" style="border-radius: 0%;">🔎 buscar</button> -->
              <button type="submit" class="et_pb_contact_submit et_pb_button">buscar</button>
            </div>
          </div>
      </form>
  </div>

  <br />
  <br />

  <!-- <div class="box" style="margin: 0 20% 0 30%;"> -->
  <table class="table table-sortable styled-table" style="margin-left: auto; margin-right: auto;">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tamaño</th>
        <th>Descripcion</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% if(typeof(respuestas) !="undefined" ){ %>
        <% respuestas.forEach(function(respuesta){ %>
          <tr>
            <td>
              <%= respuesta.codbar %>
            </td>
            <td>
              <%= respuesta.marca %>
            </td>
            <td>
              <%= respuesta.modelo %>
            </td>
            <td>
              <%= respuesta.tamano %>
            </td>
            <td>
              <%= respuesta.descripcion %>
            </td>
            <td>
              <%= respuesta.id %>
            </td>
          </tr>
          <% }); %>
            <% } %>
    </tbody>
  </table>


  
  <script type="text/javascript" src="../../src/tableSorter.js" id="jquery-core-js"></script>
  <script>
        // in DOM ready function!
        // function enviar() {

        //   let xmlhttp = new XMLHttpRequest();
        //   xmlhttp.responseType = "text";
        //   xmlhttp.open("POST", "/", true);
        //   xmlhttp.setRequestHeader("Content-Type", "text/plain");
        //   xmlhttp.send("codbar");

        //   xmlhttp.onreadystatechange = function () {


        //     $('[name="home"]').change(function () {
        //       $(this).closest('form').submit();
        //     });
  </script>
  </main>


  <footer>
    <%- include('../static/footer'); %>
  </footer>
  </div>
</body>

</html>